
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Gilda+Display&family=Poppins&family=Sarala&display=swap');

/*     font-family: 'Assistant', sans-serif; */

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.clmn{
  flex-direction: column;
}

.aic{
  align-items: center;
}

.jcc{
  justify-content: center;
}

.jcsb{
  justify-content: space-between;
}

.jce{
  justify-content: flex-end;
}

.asfe{
  align-self: flex-end;
}

.center{
  justify-content: center;
  align-content: center;
}

.wrap{
  flex-wrap: wrap;
}

.g-30{
  gap: 30px;
}



.b{
  border: 2px solid #fc79864f ;
}

.b-b{
  border-bottom: 2px solid #fc79864f ;
}

button{
  background: #966363;
  border: none;
  border-radius: none;
  font-family: 'Gilda Display', serif;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.category-button{
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  height: 12vh;
}
.home-link{
  color: #966363;
  font-family: 'Gilda Display', serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
}
.navbar div{
  display: flex;
  gap: 50px;
}

.navbar div a{
  font-family: 'Poppins', sans-serif;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

h1,h2{
  font-family: 'Gilda Display', serif;
  color: #966363;
  font-weight: 400;
}

h1{
  font-size: 50px;
  margin: 10px 0 0;

}

h2{
  margin: 0;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 400;
}

p{
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
}

.home-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
}

.home-container article{
  margin-left: 10%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.home-container h1{
  align-self: center;
  font-size: 120px;
  padding: 0% 100px;
}
.home-container h3{
  align-self: flex-end;
  font-size: 30px;
}
.home-images{
  z-index: -1;
  position: absolute;
  height: 95%;
  width: 45%;
  left: 0%;
  display: flex;
  justify-content:space-around;
}
.home-images div{
  height: 90%;
  width: 45%;
}
.bg-1{
  background: url('../img/Image\ 1.png') center no-repeat;
  background-size: cover;
}
.bg-2{
  background: url('../img/Image\ 2.png') center no-repeat;
  background-size: cover;
  align-self: flex-end;
}

.card{
  width: 450px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card img{
  width: 100%;
}

.articles-container{
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  width: 100%;
}

.card h3{
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 22px;
}

.card h4{
  font-family: 'Poppins', sans-serif;
  color: #966363;
  font-weight: 900;
  font-size: 20px;
}

.title-container{
  height: 70vh;
  margin: 70px 50px ;
  background: url('../img/Rectangle\ 48.png') bottom no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}

.title-container h1{
  font-size: 120px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.notFound-container{
  width: 20%;
}

.notFound-container h1{
  font-size: 120px;
  text-align: center;
}

.notFound-container h3{
  font-size: 30px;
  text-align: end;
}

.notfound-section{
  height: 80vh;
}

.Article-container{
  margin-top: 60px;
  gap: 70px;
}

.Article-container h2{
  font-size: 100px;
  text-transform: uppercase;
}

.Article-container h4{
  font-size: 70px;
  font-weight: normal;
}

.Article-container small{
  font-size: 20px;
}

.Article-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.Article-container img{
  width: 40%;
}

.cart{
  position: relative;
  display: flex;
}

.cart-list{
  width: 50%;
}

.total{
  
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: -1;
  justify-content: center;
}

.panier-container{
  margin-top: 50px;
  margin-left: 50px;
  height: 40vh;
  margin-bottom: 40px;
  width: 100%;
}

.panier-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  gap: 10px;
}

.panier-container h3{
  text-transform: uppercase;
}

.panier-container p{
  width: 80%;
}

.panier-container button{
  width: 80%;
}

.cart-container h1{
    font-size: 70px;
    margin-left: 50px;
}

.selectTri{
  margin-bottom: 50px;
  background: #966363;
  color: white;
  height: 30px;
}

.commandetitle-container{
  text-align: center;
}

.commandetitle-container h1{
  font-size: 100px;
}

.commandetitle-container h3{
  font-size: 50px;
}

.commande-container div{
  width: 50%;
}

.totalprice{
  font-size: 24px;
}

.retourbutton{
  margin: 16px;
}