
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Gilda+Display&family=Poppins&family=Sarala&display=swap');

/*     font-family: 'Assistant', sans-serif; */

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.clmn{
  flex-direction: column;
}

.aic{
  align-items: center;
}

.jcsb{
  justify-content: space-between;
}

.asfe{
  align-self: flex-end;
}

.wrap{
  flex-wrap: wrap;
}

.g-30{
  gap: 30px;
}



.b{
  border: 2px solid #fc79864f ;
}

.b-b{
  border-bottom: 2px solid #fc79864f ;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  height: 12vh;
}
.home-link{
  color: #966363;
  font-family: 'Gilda Display', serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
}
.navbar div{
  display: flex;
  gap: 50px;
}

.navbar div a{
  font-family: 'Poppins', sans-serif;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

h1,h2{
  font-family: 'Gilda Display', serif;
  color: #966363;
  font-weight: 400;
}

h1{
  font-size: 50px;
  margin: 10px 0 0;

}

h2{
  margin: 0;
}

h3{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: 400;
}

p{
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
}

.home-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
}

.home-container article{
  margin-left: 10%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.home-container h1{
  align-self: center;
  font-size: 120px;
  padding: 0% 100px;
}
.home-container h3{
  align-self: flex-end;
  font-size: 30px;
}
.home-images{
  position: absolute;
  height: 100%;
  width: 45%;
  left: 0%;
  display: flex;
  justify-content:space-around;
}
.home-images div{
  border: red 2px solid;
  height: 90%;
  width: 45%;
}
.bg-2{
  align-self: flex-end;
}